body {
    background-color:#130110!important;

}

/* Header Height */
.p-3 {
    height: 164px;
    padding: 1rem!important;
}

/* Header Background Color */
.bg-white {
    background-color: #130110!important;
}

/* Header Company Text Name */
h5 {
    font-size: 1.25rem;
    color: white;
    font-family: 'Frank Ruhl Libre', serif;
    font-size:45px;
}

/* Header Nav Links */
.nav-links {
    color:white;
    font-family: 'Frank Ruhl Libre', serif;
}

/* Image Height */
.img-fluid {
    max-width: 100%;
    height: 500px;
}

/* Pic Col Center */
.pic-col {
    text-align:center;
}

/* Body Head Col Center */
.body-head {
    text-align:center;
    
}

/* Card Background/Text Color */
.card-body {
    background-color:#130110;
    color:white;
    font-size:50px;
    font-family: 'Frank Ruhl Libre', serif;
    border-bottom:solid white;
    margin-bottom:40px;
}

/* Card Border */
.my-card {
    background-color:#130110;

}

/* Links Center */
.body-links {
    text-align:center;
}

/* Main Card Links Background */
.main-card {
    background-color:#130110;
    color:white;
    font-family: 'Frank Ruhl Libre', serif;
}


/* Center Lists Links */
.list-contain {
    display:inline-block;
}

/* Work Name Header */
.my-name {
    font-size: 1.25rem;
    font-family: 'Frank Ruhl Libre', serif;
    font-size:45px;
    color:white;
}

/* About Media Margin */
.about-media {
    margin-top:40px;
}


/* About Media Text */
.about-media-text {
    text-align:center;
    color:white;
    font-family: 'Frank Ruhl Libre', serif;
}

/* Carosoul */
.carousel-inner .carousel-item img {
    margin:auto
}

/* Contact Text */
label {
    color:white;
}

/* Form Margin */
.form-group {
    margin-top:25px;
}